.org-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.org-cont > h1 {
  margin: 16px;
}

.underline-ek {
  background: linear-gradient(to left, #e40707, #d39f1c 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}

.org-card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  max-width: 65%;
  padding: 1em;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: rgb(250, 251, 251);
  box-shadow: 0 1px 8px 2px rgb(184, 179, 179);
  text-align: center;
  overflow: hidden;
  position: relative;
  width: 21em;
  height: 20em;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .our-team {
    width: 26.7em;
  }

  .org-card-cont {
    max-width: 70%;
  }
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}
