.gallery-main > h1 {
  margin: 0.5em;
  text-align: center;
}

.gallery {
  column-count: 4;
  column-width: 25%;
  padding: 0 12px;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  -webkit-column-width: 25%;
  -moz-column-width: 25%;
}

.gallery .pics {
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
}

.gallery .pics:hover {
  filter: opacity(0.8);
}

@media (max-width: 1440px) {
  .gallery {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
  }
}

@media (max-width: 991px) {
  .gallery {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    column-count: 1;
    column-width: 100%;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
  }
}

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 99;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.model div img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
  max-height: 100%;
}

.close-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  cursor: pointer;
}
