/*----------------------------------------
LANDING
------------------------------------------*/
.Landing-section {
  overflow: hidden;
  z-index: 5;
  width: 100vw;
}

.Landing-div {
  height: 100vh;
  color: #fff;
  z-index: 5;
  overflow: hidden;
  width: 100vw;
}

.Landing-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 5;
  width: 100vw;
}

.Landing-logo-txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Landing-logo-txt > img {
  margin-bottom: 0.26em;
  margin-right: -0.3em;
}

.Landing-video-wrapper {
  /* Telling our absolute positioned video to 
        be relative to this element */
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Landing-section video {
  /* * Simulationg background-size: cover */
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.Landing-txt {
  transform: translate(0%, -50%);
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.Landing-h1 {
  font-size: 3rem;
  font-weight: 900;
}

/* #Landing-Glitch-h1 {
	font-size: 10vw;
} */
.centerV {
  display: table;
  height: 100%;
}

.centerV div {
  vertical-align: middle;
}

.Landing-left-to-right {
  padding-bottom: 1rem;
  animation-name: Landing-slideRight;
  transition-timing-function: easeout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  display: inline-block;
  font-size: 2rem;
  padding-top: 1rem;
}

.Landing-right-to-left {
  padding-top: 1rem;
  animation-name: Landing-slideLeft;
  transition-timing-function: easeout;
  animation-duration: 1s;
  animation-iteration-count: 1;
  display: inline-block;
  font-size: 1.5rem;
  width: 75%;
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  padding-bottom: 2rem;
}

/*----------------------------------------
ANIMATIONS
------------------------------------------*/
@keyframes Landing-slideRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    -webkit-transform: translateX(-10rem);
    -moz-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    -o-transform: translateX(-10rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -o-transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
  }
}

@keyframes Landing-slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes Landing-slideTop {
  0% {
    opacity: 0;
    transform: translateY(20rem);
    -webkit-transform: translateY(20rem);
    -moz-transform: translateY(20rem);
    -ms-transform: translateY(20rem);
    -o-transform: translateY(20rem);
  }
  80% {
    opacity: 0.6;
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

/*----------------------------------------
BUTTONS
------------------------------------------*/

.Landing-btn {
  display: inline-block;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  border: 1px solid transparent;
  position: relative;
  font-weight: 900;
}

.Landing-btn:hover {
  opacity: 1;
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
  box-shadow: 0 10px 10px #77eedd;
  color: white;
}
.Landing-btn:active {
  transform: translateY(-0.2rem);
  -webkit-transform: translateY(-0.2rem);
  -moz-transform: translateY(-0.2rem);
  -ms-transform: translateY(-0.2rem);
  -o-transform: translateY(-0.2rem);
  box-shadow: 0rem 0.5rem 1rem #7ed56f;
}
.Landing-btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: green;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: all 0.4s;
}
.Landing-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  -moz-transform: scaleX(1.4) scaleY(1.6);
  -ms-transform: scaleX(1.4) scaleY(1.6);
  -o-transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.Landing-btn--white {
  background-color: #fff;
  color: #6dd5fa;
}
.Landing-btn--white::after {
  content: "";
  display: inline-block;
  background-color: #222;
}

.Landing-btn--slideTop {
  animation: Landing-slideTop 1s ease-out 0.94s;
  -webkit-animation: Landing-slideTop 1s ease-out 0.94s;
  animation-fill-mode: backwards;
}
